
.info-5, .contact, .contact-2, .foot-1, .foot-2{
    text-align: center;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "head head"
      "info info"
      "info-2 info-3"
      "info-4 info-4"
      "info-5 info-5"
      "contact contact-2"
      "foot-1 foot-2";
  }
  
  .head { 
    grid-area: head;
    background-image: url("./img/head.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 450px;
    text-align: center;
    filter : contrast(70%);
 }

.bg-image{
    filter : contrast(0);
}

 .Head-Text{
    margin-top: 120px;
    color: white;
    filter: none;
    
    z-index: 2;
}

.welcome{
    font-size: 50px;
}

.info2{
    font-size: 20px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.button{
    
    margin-top: 50px;
    background-color: rgb(37, 37, 37);
    color: white;
    text-decoration: none;
    text-align: center;
    border: 2px solid gray;
    vertical-align: middle;
    padding: 16px 32px;
    
}

.button:hover {
    background-color: white;
    color: rgb(0, 0, 0);
}
  
.info { 
    grid-area: info;
    text-align: center;
    background-color: white;
    font-size: 20px;
    margin-top: 50px;
    color: #333;
}


.info-3 { 
    grid-area: info-3; 
    text-align: start;
    
}
  
  .info-2 { 
    grid-area: info-2; 
    text-align: end;
    justify-self: end;
}
.info-2, .info-3{
    margin-top: 50px;
    margin: 20px;
    color: #333;
    margin-bottom: 50px;
    
}
  
  .info-4 {    
    display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:". cont-1 cont-2 cont-3 .";
  grid-area: info-4;
  background-color: #333;
  color: #333;
}
  
  
.info-5 {
    grid-area: info-5;
    color: #333; 
}
  
.contact { 
    grid-area: contact;
    background-color: #2690d4;
}
  
.contact-2 { 
    grid-area: contact-2;
    background-color: #333; 
}
  
.foot-1 { 
    grid-area: foot-1;
    background-color: black;
    color: white;
}
  
.foot-2 { 
    grid-area: foot-2;
    background-color: black;
    color:white;
}
  
  
html, body , .container {
    height: 100%;
    margin: 0;
}

.cont-1 { 
    grid-area: cont-1; 
    background-color: white;
    text-align: center;
}

.cont-2 {
    grid-area: cont-2;
    background-color: white;
    text-align: center;
}
  
.cont-3 { 
    grid-area: cont-3;
    background-color: white;
    text-align: center;
    
}

.link{
    text-decoration: none;
    color: #2690d4;
}

.cont-1, .cont-2, .cont-3{
    margin: 20px;
}

.img-name, .img-name-2, .img-name-3{
    font-size: 20px;
    margin: 30px;
    font-weight: bold;
}

.img-info, .img-info-2, .img-info-3{
    margin: 40px;
    font-size: 20px;
}

.info-5{
    margin: 50px;
}

.info-5-name{
    font-size: 30px;
    font-weight: bold;
}

.info-5-info{
    font-size: 20px;
    margin-top: 20px;
}

.contact, .contact-2{
   width: 100%;
   height: 300px;
   color: white;    
}

.contact-name{
    margin: 30px;
    margin-top: 50px;
    font-size: 30px;
    font-weight: bold;
}

.contact-info{
    font-size: 25px;
    width: 500px; 
    margin: 5px auto;
    margin-bottom: 35px; 
}

.mail{
    font-size: 25px;
}

.foot-1, .foot-2{
    width: 100%;
    height: 100px;
}

.end{
    margin-top: 40px;
    font-size: 20px;
}

.info-text{
    width: 300px;
    text-align: center;
}

@media screen and (max-width: 414px){
    *{
        max-width: 424px;
        font-size: 10px;
    }
    .container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-items: stretch;
    grid-template-areas:
      "head"
      "info"
      "info-2"
      "info-3"
      "info-4"
      "info-5"
      "contact"
      "contact-2"
      "foot-1"
      "foot-2";
    width: 324px;
  }
  
  .head { grid-area: head; }
  
  .info { grid-area: info; }
  
  .info-2 { grid-area: info-2; }
  
  .info-3 { grid-area: info-3; }
  
  .info-4 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "cont-1"
      "cont-2"
      "cont-3";
    grid-area: info-4;
  }
  
  .cont-1 { grid-area: cont-1; }
  
  .cont-2 { grid-area: cont-2; }
  
  .cont-3 { grid-area: cont-3; }
  
  .info-5 { grid-area: info-5; }
  
  .contact { grid-area: contact; }
  
  .contact-2 { grid-area: contact-2; }
  
  .foot-1 { grid-area: foot-1; }
  
  .foot-2 { grid-area: foot-2; }
  
    
}